/*后台主css*/

/*数据列表页选择全部*/
.dataCheckAllLabel {
    margin-bottom: 0;
}

/*重置表单*/
.dataFormReset{
    margin-left: 30px;
}

/*添加数据页面继续添加div*/
.createContinueDiv{
    margin-top: 4px;
}

/*数据列表筛选表单*/
.dataSearch .searchGroup{
    margin-right: 5px;
}