<!-- 空白页面参考模版 -->
{extend name='public/base' /}
{block name='content'}
{include file='public/content_header' /}
<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">

                        <button class="btn btn-default btn-sm ReloadButton" data-toggle="tooltip" title="刷新" >
                            <i class="fas fa-undo"></i> 刷新
                        </button>

                    </div>

                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>用户</th>
                                <th>操作</th>
                                <th>URL</th>
                                <th>请求方式</th>
                                <th>IP</th>
                                <th>日期</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            {foreach name='data' id='item'}
                            <tr>
                                <td>{$item.id}</td>
                                <td>{$item->adminUser->nickname}</td>
                                <td>{$item.name}</td>
                                <td>{$item.url}</td>
                                <td>{$item.log_method}</td>
                                <td>{$item.log_ip}</td>
                                <td>{$item.create_time}</td>
                                <td class="td-do">
                                    <a data-id="{$item.id}" data-url="detail" data-confirm="2" data-type="2"
                                       class="btn btn-default btn-xs AjaxButton" data-title="日志详情" title="查看详情" data-toggle="tooltip">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        {$page|raw}
                    </div>
                </div>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>

</section>

{/block}