APP_DEBUG = true[APP]DEFAULT_TIMEZONE = Asia/ShanghaiHOST = http://bearadmin.site[DATABASE]TYPE = mysqlHOSTNAME = 127.0.0.1DATABASE = bear_adminUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET = utf8mb4DEBUG = true[CACHE]DRIVER = file[REDIS]REDIS_HOST = 127.0.0.1REDIS_PORT = 6379REDIS_PASSWORD =REDIS_SELECT = 1[LANG]default_lang = zh-cn[FILESYSTEM]driver=public[JWT]key=f2244f5316b70ef2887514b65caf795fiss=saud=cexp=864000000[API]http_code_sync = trueallow_cross_domain = true