<!--空白弹出页面参考模版-->
{extend name='public/layer_base' /}
{block name='content'}
<script>
    var indexWindow = parent.layer.getFrameIndex(window.name);
    var minFileCount = {$min_file_count};
    var maxFileCount = {$max_file_count};
    var fileType = '{$file_type}';
    var domId = '{$dom_id}';
    var uploadResult = '';

</script>
<section class="content">
    <div class="container-fluid">
        <div class="card">

            <div class="card-body">

                <input id="file" name="file" type="file" {$multiple} class="file-loading">
                <input name="uploadResult" id="uploadResult" hidden placeholder="上传结果">
                <script>
                    $("#file").fileinput({
                        theme: 'fas',
                        showClose: false,
                        uploadUrl: uploadUrl, // 服务器端上传处理程序
                        uploadAsync: true,  //异步上传
                        minFileCount: minFileCount,    //最小上传文件数： 1
                        maxFileCount: maxFileCount,    //最大上传文件数： 5
                        overwriteInitial: false,  //不能重载初始预览
                        initialPreviewAsData: true,      // 确定传入预览数据，而不是原生标记语言
                        initialPreviewFileType: fileType,
                        showRemove:false,
                        uploadExtraData: {
                            min_file_count: minFileCount,
                            max_file_count: maxFileCount,
                            file_type: fileType,
                        },
                        language: 'zh',
                    }).on('fileuploaded', function (event, data, previewId, index) {
                        let response = data.response;
                        if (response.code === 200 && response.result !== undefined) {
                          uploadResult = response.result.url;
                        }
                    });
                </script>

            </div>

            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-10 col-md-4">
                        <div class="btn-group">
                            <button type="button" onclick="uploadOk()"
                                    class="btn btn-sm btn-primary">
                                确定
                            </button>
                        </div>
                        <div class="btn-group">
                            <button type="button" onclick="uploadCancel()"
                                    class="btn btn-sm btn-default">
                                退 出
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    /**
     * 文件上传确定
     */
    function uploadOk() {
        console.log(uploadResult);
        // 把相关的URL返回给调用的input框，单文件返回一个URL，多文件返回逗号隔开的URL。
        parent. $('#'+domId).val(uploadResult);
        parent.layer.close(indexWindow);
        parent.inputImgShow(parent.$('#'+domId));
    }

    /**
     * 文件上传退出
     */
    function uploadCancel() {
        parent.layer.close(indexWindow);
    }

</script>
{/block}

