<style>
    #dataBody th, #dataBody td {
        min-width: 60px;
    }

    td label {
        font-weight: normal;
    }

    .box-header .select2 {
        min-width: 130px;
    }

    .form-type-th {
        min-width: 150px;
    }

    .form-validate-th {
        min-width: 200px;
    }

    .form-validate-label, .form-validate-select, .form-type-label, .form-type-select {
        width: 100%;
    }


    .is-create{
        min-width: 90px;
    }
    .min-width-400 {
        min-width: 540px;
    }

    .form-inline .form-group {
        margin-right: 20px;
    }

    .extend-div {
        display: none;
        position: absolute;
        z-index: 2;
    }

    .field-type{
        background: #ECECEC;
    }

    #model_relation .form-group {
        margin-bottom: 10px;
    }

    .more-setting .extend-div {
        width: 700px;
        margin-right: 0;
        margin-left: -630px;
    }

    .more-setting .more-from {
        margin-bottom: 20px;
    }

    .modelRelationDiv .form-group .form-control {
        margin-right: 20px;
    }

    .validateScene {
        min-width: 450px;
        width: 550px;
    }
</style>