<!-- 空白页面参考模版 -->
{extend name='public/base' /}
{block name='content'}
{include file='public/content_header' /}
<section class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">

                        <button class="btn btn-default btn-sm ReloadButton" data-toggle="tooltip" title="刷新" >
                            <i class="fa fa-refresh"></i> 刷新
                        </button>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>
                                    <label for="dataCheckAll" class="dataCheckLabel"></label>
                                    <input id="dataCheckAll" type="checkbox" onclick="checkAll(this)" class="checkbox" placeholder="全选/取消">
                                </th>
                                <th>ID</th>
                                <th>昵称</th>
                                <th>账号</th>
                                <th>角色</th>
                                <th>是否启用</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach name='data' id='item'}

                            <tr>

                                <td>
                                    <label for="dataItem{$item.id}" class="dataCheckLabel"></label>
                                    <input type="checkbox" onclick="checkThis(this)" name="dataCheckbox"
                                           data-id="{$item.id}" class="checkbox dataListCheck" value="{$item.id}"
                                           placeholder="选择/取消" id="dataItem{$item.id}">
                                </td>
                                <td>{$item.id}</td>
                                <td>{$item.nickname}</td>
                                <td>{$item.username}</td>
                                <td>
                                    {foreach name='item.role' id='item_role'}
                                    {$item_role.name|default=''}
                                    {/foreach}
                                </td>
                                <td>{$item.status_text}</td>
                            </tr>

                            {/foreach}

                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        {$page|raw}
                    </div>
                </div>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>

</section>

{/block}