<aside id="ControlSidebar" class="control-sidebar control-sidebar-dark" style="display: none;">

    <div class="p-3 control-sidebar-content"><h5>自定义后台主题配置</h5>
        <hr class="mb-2">
        <div class="mb-4">
            <label class="controlSidebarCheckLabel">
                <input id="DarkMode" type="checkbox" value="1" class="mr-1 themeSettingCheckbox" data-dom="body"
                       data-class="dark-mode">
                <span>深色模式</span>
            </label>
        </div>

        <h6>头部选项</h6>

        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="HeaderFixed" type="checkbox" value="1" class="mr-1 themeSettingCheckbox" data-dom="body"
                       data-class="layout-navbar-fixed">
                <span>固定</span>
            </label>
        </div>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="DropdownLegacyOffset" type="checkbox" value="1" class="mr-1 themeSettingCheckbox"
                       data-dom=".main-header" data-class="dropdown-legacy">
                <span>下拉列表传统偏移</span>
            </label>
        </div>
        <div class="mb-4">
            <label class="controlSidebarCheckLabel">
                <input id="NoBorder" type="checkbox" value="1" class="mr-1 themeSettingCheckbox" data-dom=".main-header"
                       data-class="border-bottom-0">
                <span>无边框</span>
            </label>
        </div>
        <h6>侧边栏选项</h6>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="SidebarCollapsed" type="checkbox" value="1" class="mr-1 themeSettingCheckbox" data-dom="body"
                       data-class="sidebar-collapse">
                <span>折叠</span>
            </label>
        </div>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input type="checkbox" id="SidebarFixed" value="1" class="mr-1 themeSettingCheckbox" data-dom="body"
                       data-class="layout-fixed">
                <span>固定</span>
            </label>
        </div>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="SidebarMini" type="checkbox" value="1" checked="checked" class="mr-1 themeSettingCheckbox"
                       data-dom="body" data-class="sidebar-mini">
                <span>折叠后显示图标</span>
            </label>
        </div>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="SidebarMiniMd" type="checkbox" value="1" class="mr-1 themeSettingCheckbox" data-dom="body"
                       data-class="sidebar-mini-md">
                <span>中等屏幕折叠后显示图标</span>
            </label>
        </div>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="SidebarMiniXs" type="checkbox" value="1" class="mr-1 themeSettingCheckbox" data-dom="body"
                       data-class="sidebar-mini-xs">
                <span>超小屏幕折叠后显示图标</span>
            </label>
        </div>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="FlatSidebar" type="checkbox" value="1" class="mr-1 themeSettingCheckbox"
                       data-dom=".nav-sidebar" data-class="nav-flat">
                <span>导航平面样式</span>
            </label>
        </div>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="LegacySidebar" type="checkbox" value="1" class="mr-1 themeSettingCheckbox"
                       data-dom=".nav-sidebar" data-class="nav-legacy">
                <span>导航传统样式</span>
            </label>
        </div>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="CompactSidebar" type="checkbox" value="1" class="mr-1 themeSettingCheckbox"
                       data-dom=".nav-sidebar" data-class="nav-compact">
                <span>导航压缩</span>
            </label>
        </div>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="ChildIndentSidebar" type="checkbox" value="1" class="mr-1 themeSettingCheckbox"
                       data-dom=".nav-sidebar" data-class="nav-child-indent">
                <span>导航子缩进</span>
            </label>
        </div>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="ChildHideSidebar" type="checkbox" value="1" class="mr-1 themeSettingCheckbox"
                       data-dom=".nav-sidebar" data-class="nav-collapse-hide-child">
                <span>导航子项折叠时隐藏</span>
            </label>
        </div>
        <div class="mb-4">
            <label class="controlSidebarCheckLabel">
                <input id="NoExpandSidebar" type="checkbox" value="1" class="mr-1 themeSettingCheckbox"
                       data-dom=".main-sidebar" data-class="sidebar-no-expand">
                <span>禁用悬停/焦点自动展开</span>
            </label>
        </div>
        <h6>页脚选项</h6>
        <div class="mb-4">
            <label class="controlSidebarCheckLabel">
                <input id="FootFixed" type="checkbox" value="1" class="mr-1 themeSettingCheckbox" data-dom="body"
                       data-class="layout-footer-fixed">
                <span>固定</span>
            </label>
        </div>
        <h6>小文本选项</h6>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="TextSmBody" type="checkbox" value="1" class="mr-1 themeSettingCheckbox" data-dom="body"
                       data-class="text-sm">
                <span>正文</span>
            </label>
        </div>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="TextSmHeader" type="checkbox" value="1" class="mr-1 themeSettingCheckbox"
                       data-dom=".main-header" data-class="text-sm">
                <span>头部</span>
            </label>
        </div>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="TextSmBrand" type="checkbox" value="1" class="mr-1 themeSettingCheckbox"
                       data-dom=".brand-link" data-class="text-sm">
                <span>品牌</span>
            </label>
        </div>
        <div class="mb-1">
            <label class="controlSidebarCheckLabel">
                <input id="TextSmSidebar" type="checkbox" value="1" class="mr-1 themeSettingCheckbox"
                       data-dom=".nav-sidebar" data-class="text-sm">
                <span>侧边栏导航</span>
            </label>
        </div>
        <div class="mb-4">
            <label class="controlSidebarCheckLabel">
                <input id="TextSmFooter" type="checkbox" value="1" class="mr-1 themeSettingCheckbox"
                       data-dom=".main-footer" data-class="text-sm">
                <span>页脚</span>
            </label>
        </div>

        <h6>导航栏背景颜色</h6>
        <label style="display: none" for="NavbarVariants"></label>
        <div class="d-flex">
            <select id="NavbarVariants" data-dom=".main-header" onchange="changeNavbarVariants(this)"
                    class="custom-select mb-3 text-light border-0 bg-white themeSettingSelect">
                <option class="bg-primary" id="bg">Primary</option>
                <option class="bg-secondary">Secondary</option>
                <option class="bg-info">Info</option>
                <option class="bg-success">Success</option>
                <option class="bg-danger">Danger</option>
                <option class="bg-indigo">Indigo</option>
                <option class="bg-purple">Purple</option>
                <option class="bg-pink">Pink</option>
                <option class="bg-navy">Navy</option>
                <option class="bg-lightblue">Lightblue</option>
                <option class="bg-teal">Teal</option>
                <option class="bg-cyan">Cyan</option>
                <option class="bg-dark">Dark</option>
                <option class="bg-gray-dark">Gray dark</option>
                <option class="bg-gray">Gray</option>
                <option class="bg-light">Light</option>
                <option class="bg-warning">Warning</option>
                <option class="bg-white">White</option>
                <option class="bg-orange">Orange</option>
            </select>
        </div>
        <h6>强调文字颜色变体</h6>
        <div class="d-flex">
            <label style="display: none" for="AccentColorVariants"></label>
        </div>
        <select id="AccentColorVariants" data-dom="body" class="custom-select mb-3 border-0 themeSettingSelect" onselect="changeAccentColorVariants(this)">
            <option>未选择1</option>
            <option class="bg-primary">Primary</option>
            <option class="bg-warning">Warning</option>
            <option class="bg-info">Info</option>
            <option class="bg-danger">Danger</option>
            <option class="bg-success">Success</option>
            <option class="bg-indigo">Indigo</option>
            <option class="bg-lightblue">Lightblue</option>
            <option class="bg-navy">Navy</option>
            <option class="bg-purple">Purple</option>
            <option class="bg-fuchsia">Fuchsia</option>
            <option class="bg-pink">Pink</option>
            <option class="bg-maroon">Maroon</option>
            <option class="bg-orange">Orange</option>
            <option class="bg-lime">Lime</option>
            <option class="bg-teal">Teal</option>
            <option class="bg-olive">Olive</option>
        </select>

        <h6>深色侧边栏变体</h6>
        <div class="d-flex">
            <label style="display: none" for="DarkSidebarVariants"></label>
        </div>
        <select id="DarkSidebarVariants" class="custom-select mb-3 border-0 themeSettingSelect">
            <option>未选择</option>
            <option class="bg-primary">Primary</option>
            <option class="bg-warning">Warning</option>
            <option class="bg-info">Info</option>
            <option class="bg-danger">Danger</option>
            <option class="bg-success">Success</option>
            <option class="bg-indigo">Indigo</option>
            <option class="bg-lightblue">Lightblue</option>
            <option class="bg-navy">Navy</option>
            <option class="bg-purple">Purple</option>
            <option class="bg-fuchsia">Fuchsia</option>
            <option class="bg-pink">Pink</option>
            <option class="bg-maroon">Maroon</option>
            <option class="bg-orange">Orange</option>
            <option class="bg-lime">Lime</option>
            <option class="bg-teal">Teal</option>
            <option class="bg-olive">Olive</option>
        </select>

        <h6>浅色侧边栏变体</h6>
        <div class="d-flex">
            <label style="display: none" for="LightSidebarVariants"></label>
        </div>
        <select id="LightSidebarVariants" class="custom-select mb-3 border-0 themeSettingSelect">
            <option>未选择</option>
            <option class="bg-primary">Primary</option>
            <option class="bg-warning">Warning</option>
            <option class="bg-info">Info</option>
            <option class="bg-danger">Danger</option>
            <option class="bg-success">Success</option>
            <option class="bg-indigo">Indigo</option>
            <option class="bg-lightblue">Lightblue</option>
            <option class="bg-navy">Navy</option>
            <option class="bg-purple">Purple</option>
            <option class="bg-fuchsia">Fuchsia</option>
            <option class="bg-pink">Pink</option>
            <option class="bg-maroon">Maroon</option>
            <option class="bg-orange">Orange</option>
            <option class="bg-lime">Lime</option>
            <option class="bg-teal">Teal</option>
            <option class="bg-olive">Olive</option>
        </select>

        <h6>品牌LOGO变体</h6>
        <div class="d-flex">
            <label style="display: none" for="BrandLogoVariants"></label>
        </div>
        <select id="BrandLogoVariants" class="custom-select mb-3 border-0 themeSettingSelect">
            <option>未选择</option>
            <option class="bg-primary">Primary</option>
            <option class="bg-secondary">Secondary</option>
            <option class="bg-info">Info</option>
            <option class="bg-success">Success</option>
            <option class="bg-danger">Danger</option>
            <option class="bg-indigo">Indigo</option>
            <option class="bg-purple">Purple</option>
            <option class="bg-pink">Pink</option>
            <option class="bg-navy">Navy</option>
            <option class="bg-lightblue">Lightblue</option>
            <option class="bg-teal">Teal</option>
            <option class="bg-cyan">Cyan</option>
            <option class="bg-dark">Dark</option>
            <option class="bg-gray-dark">Gray dark</option>
            <option class="bg-gray">Gray</option>
            <option class="bg-light">Light</option>
            <option class="bg-warning">Warning</option>
            <option class="bg-white">White</option>
            <option class="bg-orange">Orange</option>
        </select>
    </div>
</aside>
<div id="sidebar-overlay"></div>
<script>
    $(function () {
        $(document).on('collapsed.lte.pushmenu', '[data-widget="pushmenu"]', function () {
            $('#SidebarCollapsed').prop('checked', true)
        })
        $(document).on('shown.lte.pushmenu', '[data-widget="pushmenu"]', function () {
            $('#SidebarCollapsed').prop('checked', false)
        })

        // 初始设置
        var $themeSettingCheckbox = $('.themeSettingCheckbox');
        $themeSettingCheckbox.each(function (index) {
            let CookieKey = $(this).attr('id');
            let isTrue = getSettingContent(CookieKey);
            isTrue ? $(this).prop("checked", true) : $(this).prop("checked", false);
            setSettingContent(this);
        })


        $themeSettingCheckbox.on('click', function () {
            // 这里先统一加上吧
            $(window).trigger('resize');
            setSettingContent(this);
        });

        initNavbarVariants();
        initAccentColorVariants();

    });

    function getSettingContent(CookieKey) {
        return parseInt(Cookies.get(CookieKey));
    }

    function setSettingContent(dom) {

        let CookieKey = $(dom).attr('id');
        let isTrue = $(dom).is(':checked');
        let $class = $(dom).data('class');
        let $dom = $(dom).data('dom');

        Cookies.set(CookieKey, isTrue ? 1 : 0);
        isTrue ? $($dom).addClass($class) : $($dom).removeClass($class);
    }



    var navbar_dark_skins = [
        'bg-primary',
        'bg-secondary',
        'bg-info',
        'bg-success',
        'bg-danger',
        'bg-indigo',
        'bg-purple',
        'bg-pink',
        'bg-navy',
        'bg-lightblue',
        'bg-teal',
        'bg-cyan',
        'bg-dark',
        'bg-gray-dark',
        'bg-gray'
    ]

    var navbar_light_skins = [
        'bg-light',
        'bg-warning',
        'bg-white',
        'bg-orange'
    ]
    var navbar_all_colors = navbar_dark_skins.concat(navbar_light_skins)

    function initNavbarVariants() {
        let CookieKey = 'NavbarVariants';
        let color = Cookies.get(CookieKey);
        console.log(color);
        if (color !== undefined) {
            $("#NavbarVariants").find("option[class='" + color + "']").attr("selected", true);
            changeNavbarVariants(document.getElementById('NavbarVariants'));
        }
    }


    function changeNavbarVariants(obj) {

        console.log('导航栏变体颜色');

        let domId = $(obj).prop('id');

        let options = $("#" + domId + " option:selected");
        let color = options.attr('class');
        console.log(color);
        let $dom = $(obj).data('dom');

        $($dom).removeClass('navbar-dark').removeClass('navbar-light')
        navbar_all_colors.forEach(function (color) {
            $($dom).removeClass(color)
        })

        $(this).removeClass().addClass('custom-select mb-3 text-light border-0 ')

        if (navbar_dark_skins.indexOf(color) > -1) {
            $($dom).addClass('navbar-dark')
            $(this).addClass(color).addClass('text-light')
        } else {
            $($dom).addClass('navbar-light')
            $(this).addClass(color)
        }

        $($dom).addClass(color);

        let CookieKey = 'NavbarVariants';
        Cookies.set(CookieKey, color);
    }


    function initAccentColorVariants() {
        let CookieKey = 'AccentColorVariants';
        let color = Cookies.get(CookieKey);
        console.log(color);
        if (color !== undefined) {
            $("#AccentColorVariants").find("option[class='" + color + "']").attr("selected", true);
            changeAccentColorVariants(document.getElementById('AccentColorVariants'));
        }
    }

    function changeAccentColorVariants(obj) {

        console.log('强调文字颜色变体');

        let domId = $(obj).prop('id');

        let options = $("#" + domId + " option:selected");
        console.log(options);
        let color = options.attr('class');
        console.log(color);
        let $dom = $(obj).data('dom');


        $($dom).removeClass('navbar-dark').removeClass('navbar-light')
        navbar_all_colors.forEach(function (color) {
            $($dom).removeClass(color)
        })

        $(this).removeClass().addClass('custom-select mb-3 text-light border-0 ')

        if (navbar_dark_skins.indexOf(color) > -1) {
            $($dom).addClass('navbar-dark')
            $(this).addClass(color).addClass('text-light')
        } else {
            $($dom).addClass('navbar-light')
            $(this).addClass(color)
        }

        $($dom).addClass(color);

        let CookieKey = 'AccentColorVariants';
        Cookies.set(CookieKey, color);
    }
</script>